* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

.app {
	overflow-x: hidden;
	overflow-y: auto;
}

.navbar {
	list-style: none;
	height: 100%;
	z-index: 1;
}

.navbar > li {
	height: 5vh;
	width: 100%;
}

.navbar-container {
	background-color: #191252;
	position: fixed;
	left: 0;
	height: 100%;
	width: 5%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	color: #aaa5cc;
}

.logo {
	height: 10vw;
	margin: 2vh;
}
.overview-container {
	position: relative;
	left: 5%;
	background-color: #f7f7f7;
	width: 95%;
	height: 100%;
	padding: 50px;
	z-index: 10;
}
.overview-container::before {
	content: '';
	height: 20px;
	width: 50px;
	background-color: transparent;
	position: absolute;
	border-top-left-radius: 20px;
	border: none;
	top: 0;
	left: 0;
	box-shadow: -20px 0px 0 0 #191252;
}
.overview-container::after {
	content: '';
	height: 20px;
	width: 50px;
	background-color: transparent;
	position: absolute;
	border-bottom-left-radius: 20px;
	box-shadow: -20px 0px 0 0 #191252;
	bottom: 0;
	left: 0;
}

.header-container {
	margin-bottom: 30px;
}

.header-container > span:first-child {
	color: #6236ff;
	font-size: xx-large;
	width: 10%;
	font-weight: bolder;
}
.header-container > span:last-child {
	margin-left: 10px;
	font-size: xx-large;
}

.stats-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.stats-container > div {
	background-color: white;
	width: 15%;
	height: 15vh;
	border-radius: 20px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.stats-container > div > span {
	font-size: xx-large;
}

.search-with-map-container {
	background-color: white;
	margin-top: 30px;
	border-radius: 10px;
	padding: 20px;
	height: 100%;
	display: flex;
	width: 100%;
}

.search-with-map-container > :first-child {
	width: 20%;
	margin-right: 20px;
}
.search-with-map-container > div:last-child {
}

input:focus {
	outline: none;
}

.div-to-scroll::-webkit-scrollbar {
	width: 12px;
}

.div-to-scroll::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
}

.div-to-scroll::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
